body {
  font-family: 'Iceland', cursive;
}
h1 {
  text-align: center;
}
.yesProgramer {
  display: none;
}
.noGo {
  display: none;
}
/* .well {
  text-align: center;
  color: white;
 background-image: url(../img/code.jpg);
} */
.tracksToShow {
  display: none;
  background-image: url(../img/code.jpg);
  opacity: 0.5;
}
h2 {
  text-align: center;
  color: red;
}
