h1 {
  text-align: center;
}
.yesProgramer {
  display: none;
}
.noGo {
  display: none;
}
.well {
  text-align: center;
  color: white;
 background-image: url(../img/code.jpg);
}
.tracksToShow {
  display: none;
}
